.header {
  max-width: 880px;
  margin: 45px auto 0;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
  display: flex;
  position: relative;
}

@media all and (max-width: 700px) {
  .header {
    margin-top: 28px;
  }
}